.title{
  width: 71%;
  margin: 4rem auto auto auto;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;

  color: white;
  font-size: 200%;
  margin: auto;
  flex: 1;
  border: none;
  font-weight: 500;
  padding-right: 1rem;
}
.content{
  width: 71%;
  margin: 4rem auto auto auto;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1.5rem 1.75rem;

  color: white;
  font-size: 200%;
  margin: auto;
  flex: 1;
  border: none;
  font-weight: 500;
  padding-right: 1rem;
}

@media screen and (max-width: 600px) {

  .title {
    font-size: 1rem;
  }
}